/* banner on the lineup page */
.lineupbanner {
    background: url(../images/banners/fireworks.jpg) no-repeat fixed center bottom;
    background-size: cover;
    min-height: 370px;
    height: 50vh;
}

/* -----------------------------------*/
/* ------->>> IMAGE GALLERY <<<-------*/
/* -----------------------------------*/
.centeredgallery {
    text-align: center;
    overflow: hidden;
    list-style: none;
}

/* Animation on hover: */
.galleryimg {
    transition: all .5s ease;
    filter: brightness(50%);
    box-sizing: border-box;
    transform: scale(1.0);
}

.galleryimg:hover {
    filter: brightness(100%);
    transform: scale(1.1);
}

.mask {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
}

.galleryheader, .artistheader {
    margin-top: 20px;
    margin-bottom: 5px;
}

h3.galleryheader:hover {
    color: #EA2E49;
    text-decoration: underline;
}

.responsivegallery {
    margin-top: 120px;
    list-style: none;
    display: inline-block;
}

/* -----------------------------------*/
/* -------->>> ARTIST PAGES <<<-------*/
/* -----------------------------------*/
.artistgallery {
    padding: 0;
    float: left;
    box-sizing: border-box;
    width: 100%;
    min-height: 450px;
}

/* articles on artist pages */
.artistarticle {
    margin-bottom: 60px;
}

/* -----------------------------------*/
/* ----------->>> OTHER <<<-----------*/
/* -----------------------------------*/
/* Blue text for highlighting */
span.lightblue {
    color: #77C4D3;
}