/* banner on the tickets page */
.ticketsbanner {
    background: url(../images/banners/colorfestival.jpg) no-repeat fixed center bottom;
    background-size: cover;
    min-height: 650px;
    height: 85vh;
}

.ticketinfobanner {
    background: url(../images/banners/beach.jpg) no-repeat fixed center bottom;
    background-size: cover;
    min-height: 370px;
    height: 50vh;
}

/* -----------------------------------*/
/* ------>>> BUYTICKETS FORM <<<------*/
/* -----------------------------------*/
/* Uses a negative margin instead of absolute positioning */
/* because the header height is fixed. */
.formcontainer {
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 475px;
    height: auto;
    margin: -530px auto 60px;
    background: rgba(255, 255, 255, .9);
}

form {
    margin: 30px 5%;
}

form ul li {
    list-style-type: none;
    padding-top: 10px;
}

form ul li label {
    vertical-align: middle;
}

form ul li input, form ul li select {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 0.9em;
    border: 1px solid lightgray;
    border-radius: 7px;
}

input.chkbox {
    height: auto;
    width: 5%;
}

.aligncenter {
    text-align: center;
}

.ticketbutton {
    box-sizing: border-box;
    height: 40px;
    width: 200px;
    padding: 0;
    margin: 4px auto;
    font-size: 16px;
    text-shadow: 0 1px 1px #4b4b4b;
    border: none;
    background-color: #EA2E49;
    color: white;
    cursor: pointer;
}

.ticketbutton:hover {
    background-color: #333745;
    color: white;
}

/* Responsive form */
/* For inputfields with 2 columns: */
form ul li.halfinline {
    display: inline-block;
    width: 49.4%;
}

/* For inputfields with 3 columns: */
form ul li.thirdinline {
    display: inline-block;
    width: 32.6%;
}

/* Form uses fullwidth on small screens */
@media screen and (max-width: 500px) {
    section.formcontainer {
        width: 100%;
        border-radius: 0px;
    }
}

/* -----------------------------------*/
/* ------>>> Terms of Service <<<-----*/
/* -----------------------------------*/
.tos {
    font-size: 1em;
    max-width: 800px;
    margin: 0 auto;
}
li.tos {
    margin: 2em auto;
}

/* -----------------------------------*/
/* -->>> TICKET CONFIRMATION PAGE <<<-*/
/* -----------------------------------*/
.noticecontainer {
    box-sizing: border-box;
    background: rgba(255, 255, 255, .9);
    width: 50%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
    height: auto;
}

@media screen and (max-width: 500px) {
    .noticecontainer {
        width: 100%;
    }
}

.notice {
    text-align: center;
    text-shadow: none;
    margin-top: 30px;
}